* {
    font-family: "Noto Sans KR", sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

#live2d_canvas {
    border: 0.2rem dotted lightcoral;
    box-sizing: border-box;
}

.right_panel {
    background: darkgrey;
    border: 0.2rem dotted #3C3F41;
    box-sizing: border-box;
}

#console {
    background: #3C3F41;
}

#header {
    text-align: center;
    margin: 0.5em;
}

@media all and (orientation: landscape) {
    #live2d_canvas {
        display: block;
        margin: auto;
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

@media all and (orientation: portrait) {
    #live2d_canvas {
        display: block;
        margin: auto;
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
}

    #console {
        margin: 0.5em 5em 0.5em 5em;
        height: calc(100% - 9em);
        overflow-y: scroll;
    }

    #header {
        height: 1.5em;
        font-size: 1.5em;
    }
}

#InputField {
    width: calc(100% - 6em);
}

#InputButton {
    width: 5em
}

p {
    margin: 0.25em 0.5em 0.25em 0.5em;
    color: lightgreen;
    word-break: break-all;
}
