* {
    font-family: "Noto Sans KR", sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

#viewer_frame {
    position: relative;
    margin: auto;
    width: 837px;
    height: 727px;
    overflow: hidden;
    background: black;
    box-sizing: border-box;
}

#live2d_canvas {
    display: block;
    width: 837px;
    height: 727px;
    border: 0.2rem dotted lightcoral;
    box-sizing: border-box;
}

.right_panel {
    background: darkgrey;
    border: 0.2rem dotted #3C3F41;
    box-sizing: border-box;
}

#console {
    background: #3C3F41;
}

#header {
    text-align: center;
    margin: 0.5em;
}


@media all and (orientation: landscape) {

    .right_panel {
        float: right;
        margin: 1em 1em 1em 0;
        width: calc(25% - 1.5em);
        height: calc(100% - 2em);
    }

    ...
}


@media all and (orientation: portrait) {

    .right_panel {
        margin: 0 1em 1em 1em;
        width: calc(100% - 2em);
        height: calc(25% - 1.5em);
    }

    ...
}


#console {
    margin: 0.5em 5em 0.5em 5em;
    height: calc(100% - 9em);
    overflow-y: scroll;
}

#header {
    height: 1.5em;
    font-size: 1.5em;
}

#InputField {
    width: calc(100% - 6em);
}

#InputButton {
    width: 5em;
}

p {
    margin: 0.25em 0.5em 0.25em 0.5em;
    color: lightgreen;
    word-break: break-all;
}
